* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    padding-top: 70px;
}

.btnPrimary{
    width: 100%;
    height: 100%;
    background-color: $primaryColor;
    color: $lightColor;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.commonAlertLoaderLayout {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #f9f9f9, $alpha: 0.8);
}

.commonAlertLoader {
    position: fixed;
    width: 30%;
    height: 30%;
    max-width: 80px;
    max-height: 80px;
    top: 50%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%,-50%);

}